@import '../../styles/colors.scss';

.articles { 
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 300px auto;

  &__sidebar {
    position: relative;
    background-color: $sidebar-background;
    border-right: 1px solid #F1F1F1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 30px;
    box-sizing: border-box;
  }

  &__openerBlock {
    display: none;
  }

  &__content {
    justify-self: center;
    max-width: 800px;
    overflow: auto;
    padding: 60px 30px;
  }

  &__title {
    font-weight: 500;
    display: flex;
    align-items: center;

    i {
      font-size: 18px;
      margin-right: 10px;
      color: $icon-dark-gray;
    }

    span {
      font-family: 'Montserrat';
      font-size: 18px;
      letter-spacing: 0.2px;
    }
  }

  &__list {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
  }

  &__panel {
    margin-top: 20px;
  }

  &__inputBlock {
    width: auto !important;
    margin-bottom: 15px;
  }

  &__input {
    margin-top: 0;
  }

  &__createBtn {
    width: 100%;
    margin-top: 15px;
  }

  &__closeBtn {
    display: none;
    width: 100%;
    margin-top: 100px;
  }
}