@import '../../styles/colors.scss';

.inputBlock {
  font-family: 'Montserrat', sans-serif;
  width: 500px;

  &__label {
    display: block;
    font-family: inherit;
    font-weight: 700;
    color: $action-color;
    letter-spacing: 0.6px;
  }

  &__input {
    display: block;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid $elem-border-color;
    border-radius: 6px;
    width: 100%;
    transition: 0.3s;

    &:focus {
      border-color: $action-color;
      color: $action-color;
    }
  }
}