@media all and (max-width: 768px) {
  .login {
    form {
      padding: 35px 20px;
    }
  }
}

@media all and (max-width: 576px) {
  .login {
    height: 100%;

    form {
      margin-top: 30px;
      padding: 0;
      box-shadow: none;
    }
  }
}