$sidebar-background: #E9E9E9;
$action-color: #4DD599;
$elem-border-color: #808080;
$text-color: #404040;
$delete-btn: #E3E3E3;

$icon-dark-gray: #7C7C7C;
$icon-bright-green: #B6E6BD;
$icon-dark-green: #42B883;
$icon-blue: #64C4ED;
$icon-pink: #FFBBCC;
$icon-bright-gray: #C9D1D3;

