@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
  outline: none;
}



.container {
  position: relative;
  max-width: 1360px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}


.form {
    display: grid;
    justify-items: center;
    gap: 30px;

  &__title {
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
  }

  &__content {
    display: grid;
    gap: 25px;
  }

  &__link {
    display: flex;
    align-items: flex-start;

    span {
      margin-right: 8px;
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 14px;
      color: $text-color;
    }
  }
}